{% load static %}
{% load staticfiles %}
<html>
<head>
  <title>NTU Shopping</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'account/css/index.css'%}">
</head>
<body style="width: 1910px ;height: 1060px">
<div class="header">
  <input type="button" style="position: absolute;top: 21px;left: 1710px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_chat.png'%}');background-color: #4D060C";>
  <input type="button" onclick="location.href='{% url 'manage' %}';" style="position: absolute;top: 21px;left: 1630px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_account.png'%}');background-color: #4D060C";>
  <input type="button" style="position: absolute;top: 21px;left: 1550px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_cart.png'%}');background-color: #4D060C";>
</div>
<div class="search_bar">
  <img src="{% static 'account/img/ntu_shopping_logo.png'%}" style="position: absolute;top:170px;left:150px;">
  <input type="text" placeholder="請輸入關鍵字" style="position: absolute;top:166px;left:484px;width:1286px;height:50px;font-size:24px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 15px">
  <input type="button" style="position: absolute;top:166px;left:1695px;width:75px;height:50px;border: 0px; background-image:url('{% static 'account/img/ntu_shopping_search_button.png'%}');">
</div>
<div class="bar_title">
  <img src="{% static 'account/img/ntu_shopping_bar_title.png'%}">
</div>
<div>
<ul class="left_bar">
  <li class="light"><a href="{%url 'index' production_type %}"><img src="{% static 'account/img/ntu_shopping_bar1.png'%}" style="width: 300px height:50px"></a></li>
  <li class="heavy"><a href="{%url 'index' "CP" %}"><img src="{% static 'account/img/ntu_shopping_bar2.png'%}"></a></li>
  <li class="light"><a href="{%url 'index' "FN" %}"><img src="{% static 'account/img/ntu_shopping_bar3.png'%}"></a></li>
  <li class="heavy"><a href="{%url 'index' "TR" %}"><img src="{% static 'account/img/ntu_shopping_bar4.png'%}"></a></li>
  <li class="light"><a href="{%url 'index' "TF" %}"><img src="{% static 'account/img/ntu_shopping_bar5.png'%}"></a></li>
  <li class="heavy"><a href="{%url 'index' "HB" %}"><img src="{% static 'account/img/ntu_shopping_bar6.png'%}"></a></li>
  <li class="light"><a href="{%url 'index' "CL" %}"><img src="{% static 'account/img/ntu_shopping_bar7.png'%}"></a></li>
  <li class="heavy"><a href="{%url 'index' "FD" %}"><img src="{% static 'account/img/ntu_shopping_bar8.png'%}"></a></li>
  <li class="light"><a href="{%url 'index' "CS" %}"><img src="{% static 'account/img/ntu_shopping_bar9.png'%}"></a></li>
  <li class="heavy"><a href="{%url 'index' "BK" %}"><img src="{% static 'account/img/ntu_shopping_bar10.png'%}"></a></li>
  <li class="light"><a href="{%url 'index' "MM" %}"><img src="{% static 'account/img/ntu_shopping_bar11.png'%}"></a></li>
  <li class="heavy"><a href="{%url 'index' "HS" %}"><img src="{% static 'account/img/ntu_shopping_bar12.png'%}"></a></li>
  <li class="light"><a href="{%url 'index' "OT" %}"><img src="{% static 'account/img/ntu_shopping_bar13.png'%}"></a></li>
  <li class="heavy"><a href="#"></a></li>
  <li class="light"><a href="#"></a></li>
</ul>
</div>
<div>
  <table class="commodity">
    <tr>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
    </tr>
    <tr>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
    </tr>
    <tr>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
      <th><a href="#"><img src="{% static 'account/img/ntu_shopping_daily_necessities/ntu_shopping_daily_necessities_01.png'%}"></a></th>
    </tr>
  </table>
</div>

</body>
</html>