.header{
  margin: -8px;
  height: 100px;
  background-color: #4D060C;
}

.search_bar{
  margin: 0px -8px;
  height: 192.5px;
  background-color: #761822;
}

.bar_title{
  width: 434px;
  height: 50px;
  margin: 0px -8px;
  background-color: #4D060C;
}

.right_bar{
  width: 150px;
  height: 800px;
  margin: -800px 1768px;
  background-color: #FFFFFF;
}



table{
  position: absolute;
  top: 312px;
  left: 461px;
  border-spacing: 23px;
}
th{
  width: 284px;
  height: 182.5px;
  background-color: white; 
}
th.commodity_name{
  position: absolute;
  margin-top: 162px;
  margin-left: -309px;
  width: 284px;
  height: 20px;
  font-family: 微軟正黑體;
  color: white;
  background-color: #4D060C;
  opacity: 0.8;
}
th:hover{
  opacity:0.7;

}
th:hover.commodity_name{
  background-color: #4D060C;
  opacity:0.8;
}



ul.left_bar {
  margin: 0px -8px;
  padding: 0px;
  width: 434px;
}
ul.left_bar > li {
  display: block;
  height: 50px;
  padding: 0px 0px;
  background-color: #94333D;
}

ul.left_bar > li.light {
    background-color: #94333D;
}
ul.left_bar > li.heavy{
    background-color: #761822;
}
ul.left_bar > li:hover {
    background-color: #4D060C;
    height: 50px;
  }

ul.pagination {
    font-family: impact;
    position: absolute;
    top: 949px;
    margin-left: 1036px;
    display: inline-block;
    padding: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #4D060C;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination li:last-child a {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

ul.pagination li a.active {
    background-color: #999999;
    color: white;
    border: 1px solid #999999;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
  