<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br/>
    <form>
        <input id="room-name-input" type="text" size="100"/><br/>
        <input id="room-name-submit" type="button" value="Enter"/>
    </form>
    <button onclick="location.href='{% url 'manage' 1 %}';" >back</button><br><br>
    聊天室：
    {% for r in room_name %}
    <button onclick="location.href='{% url 'chat_room' r.1.id %}';">{{r.0}}</button>
    {% endfor %}
<!--     <form action="room" method="post">{% csrf_token %}
    {% for r in room_name %}
    <input type="hidden" name="room_id" value={{r.1.id}}>
    <input type="submit" value={{r.0}}>   
    {% endfor %}
    </form> -->
</body>
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
</html>