{% load static %}
{% load staticfiles %}
<html>
<head>
  <title>NTU Shopping</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'account/css/commodity.css'%}">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        li.r{
            text-align:left;
            list-style-type: none;
            /*border:solid;*/
            margin: 20px;
        }
        li.l{
            text-align:right;
            list-style-type: none;
            /*border:solid;*/
            margin: 20px;
        }
li.l .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

li.l:hover .tooltiptext {
    visibility: visible;
}
li.r .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

li.r:hover .tooltiptext {
    visibility: visible;
}
    </style>
</head>
<body background="" style="width: 1910px ;height: 1060px">
<div class="header">
  <input type="button" style="position: absolute;top: 21px;left: 1710px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_chat.png'%}');background-color: #4D060C";>
  <input type="button" onclick="location.href='{% url 'manage' 1 %}';" style="position: absolute;top: 21px;left: 1630px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_account.png'%}');background-color: #4D060C";>
  <input type="button" style="position: absolute;top: 21px;left: 1550px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_cart.png'%}');background-color: #4D060C";>
</div>
<div class="search_bar">
  <img src="{% static 'account/img/ntu_shopping_logo.png'%}"  onclick="location.href='{% url 'index' "ALL" 1 %}';" style="position: absolute;top:170px;left:150px;">
  <input type="text" name="search" placeholder="請輸入關鍵字" style="position: absolute;top:166px;left:484px;width:1286px;height:50px;font-size:24px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 15px">
  <input type="button" style="position: absolute;top:166px;left:1695px;width:75px;height:50px;border: 0px; background-image:url('{% static 'account/img/ntu_shopping_search_button.png'%}');">
</div>
<div class="bar_title">
   <img src="{% static 'account/img/ntu_shopping_bar17.png'%}">
</div>
<div>
<ul class="left_bar">
  <li class="light"><p style="position: absolute;top:323px; left: 150px;color: white; font-family: impact;font-size:24px;">kevin77836</p></li>
  <li class="heavy"><p style="position: absolute;top:373px; left: 150px;color: white; font-family: impact;font-size:24px;">abc134</p></li>
  <li class="light"><p style="position: absolute;top:423px; left: 150px;color: white; font-family: impact;font-size:24px;">ggg678</p></li>
  <li class="heavy"><p style="position: absolute;top:473px; left: 150px;color: white; font-family: impact;font-size:24px;">hihihi</p></li>
  <li class="light"><p style="position: absolute;top:523px; left: 150px;color: white; font-family: impact;font-size:24px;">shit423</p></li>
  <li class="heavy"><p style="position: absolute;top:573px; left: 150px;color: white; font-family: impact;font-size:24px;">789fuck</p></li>
  <li class="light"><p style="position: absolute;top:623px; left: 150px;color: white; font-family: impact;font-size:24px;">999damn</p></li>
  <li class="heavy"><p style="position: absolute;top:673px; left: 150px;color: white; font-family: impact;font-size:24px;">curry30</p></li>
  <li class="light"><p style="position: absolute;top:723px; left: 150px;color: white; font-family: impact;font-size:24px;">hardenQQ</p></li>
  <li class="heavy"><p style="position: absolute;top:773px; left: 150px;color: white; font-family: impact;font-size:24px;">pualDB2</p></li>
  <li class="light"><p style="position: absolute;top:823px; left: 150px;color: white; font-family: impact;font-size:24px;">loseRRR</p></li>
  <li class="heavy"><p style="position: absolute;top:873px; left: 150px;color: white; font-family: impact;font-size:24px;">LBJtired</p></li>
  <li class="light"><p style="position: absolute;top:923px; left: 150px;color: white; font-family: impact;font-size:24px;">JRDB2</p></li>
  <li class="heavy"><p style="position: absolute;top:973px; left: 150px;color: white; font-family: impact;font-size:24px;">NBAbadbad</p></li>
  <li class="light"><p style="position: absolute;top:1023px; left: 150px;color: white; font-family: impact;font-size:24px;">NTUSTgoodgood</p></li>

<div style="width: 1492px; height: 602px;position: absolute;top:284px;left: 434px;background-color: #94333D;">
 <p style="position: absolute;top:-12px; left: 15px;color: white; font-family: impact;font-size:24px;">{{chat_person}}</p>
</div>
<div>
    <div class="panel-body" id="all_messages" style="position: absolute; top: 334px; left: 434px; font-size: 24px; width: 1492px; height: 602px;font-family: 微軟正黑體;font-weight: 900;color:white; background: white; overflow:scroll">
        <ul id="chat">
            {% for m in message %}
            {% if m.owner == user%}
            <li class="l"><span style="background:#94333D; padding: 10px; border-radius: 25px;">{{m.content}}</span><span class="tooltiptext">{{m.timestamp}}</span></li>
            {% else %}
            <li class="r"><img src='{{profile.picture.url}}' style="width: 50px; height: 50px; border-radius: 100%; border: solid;"><span style="background:#94333D; padding: 10px;
            border-radius: 25px">{{m.content}}</span><span class="tooltiptext">{{m.timestamp}}</span></li>
            {% endif %}
            {% endfor %}
         </ul>
    </div>
    <input id="chat-message-input"  type="text" size="100" name="message_input" placeholder="輸入訊息..." style="background-color: white;position: absolute; top: 935px; left: 434px; font-size: 24px; width: 1492px; height: 150px;font-family: 微軟正黑體;font-weight: 900;color:999999;"/>
    <input id="chat-message-submit" type="hidden" value="send"/>
</div>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ name_json }};


    //Set up a WebSocket => chatSocket
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    // chatSocket -> onmessage
    // m means message
    chatSocket.onmessage = function(m) {
        //m.data parsed into JSON
        var data = JSON.parse(m.data);
        var message = data['message'];
        var user = data['user'];
        var receive_user = "{{user}}";
        var img_url = "{{profile.picture.url}}";
       
        //querySelector -> select chat-log 
        // var a = d.now();
        var d =  new Date();
        var timestamp = d.toLocaleTimeString();

        var node = document.createElement("LI");
        if (user == receive_user){ 
            $('<li class="l"><span style="background:#94333D; padding: 10px; border-radius: 25px">'+message+'<span></li>').appendTo($('#chat')); 
        } else {
            $(' <li class="r"><img src=" ' + img_url + '"' + 'style="width: 50px; height: 50px; border-radius: 100%; border: solid;"><span style="background:#94333D; padding: 10px; border-radius: 25px">'+message+'</span></li>').appendTo($('#chat')); 
        }
        $('.panel-body').scrollTop($('.panel-body')[0].scrollHeight);
    };

    // chatSocket -> onclose
    chatSocket.onclose = function(m) {
        console.error('Chat socket closed unexpectedly');
    };


    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
</body>
</html>