{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>NTU SHOPPING</title>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
   <script src="{% static 'account/js/jquery-2.2.3.min.js'%}"></script>
   <script src="{% static 'account/js/bootstrap.min.js'%}"></script>
   <script src="{% static 'post/js/croppie.js'%}"></script>
   <link rel="stylesheet" href="{% static 'post/js/croppie.css'%}">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" style="background-color: #761822;">
          <div class="row">
        <div class="col-md-2" style="font-family: impact;color: white;font-weight: bold;font-size: 28px;padding: 15px;"><a href="{% url 'index' "ALL" 1 %}">&nbsp;&nbsp;&nbsp;NTU SHOPPING</a>
        </div>
        <div style="padding: 18px;left: 1.3%;" class="col-md-7"><input style="font-size:15px;color:#4D060C;font-family:微軟正黑體;font-weight:900; padding: 10px" type="text" class="form-control" placeholder="請輸入關鍵字">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" style="padding: 18px;left: 5%">
          <input type="button" onclick="location.href='{% url 'chat_index'  %}';"  style="width: 30px;height: 30px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_chat.png'%}');background-color: #761822;";>

          <input type="button" onclick="location.href='{% url 'manage' 1 %}';" style="width: 30px; height: 30px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_account.png'%}');background-color: #761822";>

          <input type="button" style="width: 30px; height: 30px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_cart.png'%}');background-color: #761822";>
        </div>
        </div>
      </div>
        </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="row">
        <ul type="none" style="padding: 0px;" class="col-md-12" class="left_bar">
          <li style="background-color: #4D060C;padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;分類</li>
          <a href="{%url 'index' "CP" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;電腦 , 手機 , 電子周邊</li></a>
          <a href="{%url 'index' "FN" 1 %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;家電 , 家具</li></a>
          <a href="{%url 'index' "TR" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;交通工具</li></a>
          <a href="{%url 'index' "TF" 1 %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;玩具 , 公仔 , 電玩</li></a>
          <a href="{%url 'index' "HB" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;生活居家</li></a>
          <a href="{%url 'index' "CL" 1 %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;服飾</li></a>
          <a href="{%url 'index' "AC" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;飾品 , 配件</li></a>
          <a href="{%url 'index' "FD" 1 %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;食品</li></a>
          <a href="{%url 'index' "CS" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;保養 , 彩妝</li></a>
          <a href="{%url 'index' "BK" 1 %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;書籍</li></a>
          <a href="{%url 'index' "MM" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;音樂 , 電影 , 文創</li></a>
          <a href="{%url 'index' "HS" 1 %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;租屋</li></a>
          <a href="{%url 'index' "OT" 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;其他</li></a>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
        </ul>
      </div>

        </div>
        <div class="col-md-10" style="margin-top: 3%;">
          <div class="row">
            <div class="col-md-5" style="box-shadow:1px 1px 5px 1px #B4B5B5;left: 3.2%;">
              <div>
              <img id = "picture" class="img-responsive" src="{{production.img.url}}" class="img-fluid" alt="Responsive image">
              </div>
              <input id = "picture_edit" style="color: black;font-size: 18px;" type='hidden' id="imgInp" accept="image/*" onchange="readURL(this);"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6" style="padding: 0px;margin-top: -3%;left: -3.2%;">
              <table class="table table-striped" class="table-responsive-md">
                <thead>
                  <tr>
                    <th><form id = "edit_form" method="post">{% csrf_token %}
                      <input id="name" type="name" name = "name" value="{{production.name}}" disabled style="width: 100%;font-family:impact;padding: 5px;font-size: 24px;border-style:none;">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>&nbsp;&nbsp;價格</th>
                    <td><input id="price" type="text" name="price" value="{{production.price}}" disabled style="font-family: impact;width: 100%;border-style:none;padding: 1%;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;新舊</th>
                    <td style=""><input id="status" type="text" name="status" value="{{production.status}}" disabled style="font-family: impact;width: 100%;border-style:none;padding: 1%;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;剩餘數量</th>
                    <td><input id="number" type="text" name="number" value="{{production.number}}" disabled style="font-family: impact;width: 100%;border-style:none;padding: 1%;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;發佈時間&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <td><input id="time" type="hidden" name="number" value="{{article.created_date}}" disabled style="font-family: impact;width: 100%;border-style:none;padding: 1%;">{{article.created_date}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-5" style="padding: 0px;margin-top: -0.5%;">
                <button type="button" value="" data-toggle="dropdown" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 18px;padding: 1%;">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="width: 80%; padding: 0px;">
                  <li><input id="button" type="button" onclick="edit()" value="編輯" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 16px;padding: 1%;";></li>
                  <li><input type="button" onclick="location.href='{%url 'chat_index' %}'" value="訊息" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 16px;padding: 1%;margin-top: 0%;"></li>
                  <li>
                    <input type="button" onclick="location.href='{% url 'profile' production.owner %}';"  value="賣家賣場" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 16px;padding: 1%;margin-top: 0%;">
                  </li>
                </ul>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-5" style="padding: 0px;margin-top: -0.5%;">
                <script>
                  function success() {
                    alert("Rank successes!");
                  }
                </script>
                <form action="" method="post">{% csrf_token %}
                  <input type="hidden" name="rank" value={{username}}>
                  <input type="submit" value = "排" onclick="success()" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 18px;padding: 1%;">
                </form>
              </div>
              
            </div>
            <div class="col-md-12" style="background-color: white;margin-top: 4%;">
              <div class="col-md-1"></div>
              <div class="col-md-11" style="background-color: #761822;width: 96.4%;left: 1.85%;color: white;font-family: 微軟正黑體;font-weight: 900;font-size: 24px;padding: 1%;">賣場介紹:
                <div class="col-md-12" style="height: 250px;margin-top: 1%;padding: 0px"><textarea id = "intro" form = "edit_form" name = "intro" contenteditable = "false" style="width: 100%;height: 250px;color: black" disabled>{{production.introduction}}</textarea></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  body{
    overflow-x: hidden;
    /*overflow-y: hidden;*/
  }
  ul{
    font-style: 微軟正黑體;
    color: white;
    font-weight:bold;
    font-size: 16px;
    background-color: #94333D;
  }
  li:hover{
    background-color: #4D060C;
  }
  .heavy{
    background-color: #761822;
  }
  a{
    color: white;
    text-decoration:none;
  }
  a:hover{
    color: white;
    text-decoration:none;
  }

  table{
    background-color: white;
    font-size: 16px;
    margin-top: 20px;
    font-weight:900;
    font-family: 微軟正黑體;
    color: #4D060C;
  }
  th{
    background-color: white;
  }
  td{
    background-color: white;
  }
  th:hover{

  }

  ul.pagination {
    display: inline-block;
    padding: 0;
  }
  ul.pagination li {display: inline;}
  ul.pagination li a {
    font-family: impact;
    color: #4D060C;
    font-size: 12px;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  ul.pagination li a.active {
    background-color: #999999;
    color: white;
    border: 1px solid #999999;
  }
  ul.pagination li a:hover:not(.active) {background-color: #ddd;}
</style>
<script type="text/javascript">
  var editable = "{{editable}}";
  if (editable == "False"){
    document.getElementById("button").type = "hidden";
  }

  function edit() {
    var name = document.getElementById("name");
    var price = document.getElementById("price");
    var status = document.getElementById("status");
    var number = document.getElementById("number");

    var picture = document.getElementById("picture");
    var picture_edit = document.getElementById("picture_edit");

    var form = document.getElementById("edit_form");

    var button = document.getElementById("button");

    var introduction = document.getElementById("intro");

    if (button.value == "編輯") {
      name.disabled = false;
      name.style.border = "gray solid"

      price.disabled = false;
      price.style.border = "gray solid";

      status.disabled = false;
      status.style.border = "gray solid";

      number.disabled = false;
      number.style.border = "gray solid";

      introduction.disabled = false;
      introduction.style.border = "gray solid";

      picture.style.opacity = 0.5;  
      picture_edit.type = "file";

      button.value = "確認送出";
      form.method = "post";

    } else{
       form.submit();
    }
  }
</script>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#picture').attr('src', e.target.result);
          
          $uploadCrop = $('#picture').croppie({
            enableExif: true,
            viewport: {
              width: 200,
              height: 200,
              type: 'rectangle'
            },
            boundary: {
              width: 300,
              height: 300
            }
          });
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
</script>
</body>
</html>