{% load static %}
{% load staticfiles %}
<html>
<head>
  <title>NTU Shopping</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'account/css/commodity.css'%}">
</head>
<body background="" style="width: 1910px ;height: 1060px">
<div class="header">
  <input type="button" style="position: absolute;top: 21px;left: 1710px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_chat.png'%}');background-color: #4D060C";>
  <input type="button" onclick="location.href='{% url 'manage' 1 %}';" style="position: absolute;top: 21px;left: 1630px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_account.png'%}');background-color: #4D060C";>
  <input type="button" style="position: absolute;top: 21px;left: 1550px; width: 50px; height: 50px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_cart.png'%}');background-color: #4D060C";>
</div>
<div class="search_bar">
  <img src="{% static 'account/img/ntu_shopping_logo.png'%}"  onclick="location.href='{% url 'index' "ALL" 1 %}';" style="position: absolute;top:170px;left:150px;">
  <input type="text" placeholder="請輸入關鍵字" style="position: absolute;top:166px;left:484px;width:1286px;height:50px;font-size:24px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 15px">
  <input type="button" style="position: absolute;top:166px;left:1695px;width:75px;height:50px;border: 0px; background-image:url('{% static 'account/img/ntu_shopping_search_button.png'%}');">
</div>
<div class="bar_title">
   <img src="{% static 'account/img/ntu_shopping_bar14.png'%}">
</div>
<div>
<ul class="left_bar">
  <li class="light"><a href="{%url 'profile_update' username %}"><img src="{% static 'account/img/ntu_shopping_bar19.png'%}" style="width: 300px height:50px"></a></li>
  <li class="heavy"><a href="{%url 'manage' 1 %}"><img src="{% static 'account/img/ntu_shopping_bar15.png'%}"></a></li>
  <li class="light"><a href="{%url 'post' %}"><img src="{% static 'account/img/ntu_shopping_bar20.png'%}"></a></li>
  <li class="heavy"><a href="{%url 'chat_index' %}"><img src="{% static 'account/img/ntu_shopping_bar17.png'%}"></a></li>
  <li class="light"><a href="{% url 'logout' %}"><img src="{% static 'account/img/ntu_shopping_bar18.png'%}"></a></li>
  <li class="heavy"><a href=""><img src=""></a></li>
  <li class="light"><a href="#"><img src=""></a></li>
  <li class="heavy"><a href="#"><img src=""></a></li>
  <li class="light"><a href="#"><img src=""></a></li>
  <li class="heavy"><a href="#"><img src=""></a></li>
  <li class="light"><a href="#"><img src=""></a></li>
  <li class="heavy"><a href="#"><img src=""></a></li>
  <li class="light"><a href="#"><img src=""></a></li>
  <li class="heavy"><a href="#"></a></li>
  <li class="light"><a href="#"></a></li>
<div>
<input type="text" placeholder="商品名稱" style="position: absolute; top: 330px; left: 1150px; height: 50px;width: 620px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 5px;font-size: 36px">
<hr class="line1" noshade="noshade"/>
<table>
  <tr>
    <th>&nbsp;&nbsp;價格</th>
    <th><input type="text" placeholder="價格" style="height: 30px;width: 200px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 5px;font-size: 18px"></th>
  </tr>
  <tr>
    <th>&nbsp;&nbsp;新舊</th>
    <th><input type="text" placeholder="全新 or 二手" style="height: 30px;width: 200px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 5px;font-size: 18px"></th>
  </tr>
  <tr>
    <th>&nbsp;&nbsp;剩餘數量</th>
    <th><input type="text" placeholder="數量" style="height: 30px;width: 200px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 5px;font-size: 18px"></th>
  </tr>
  <tr>
    <th>&nbsp;&nbsp;交易方式</th>
    <th><input type="text" placeholder="面交 or 郵寄 or 其他" style="height: 30px;width: 200px;color:761822;font-family:微軟正黑體;font-weight:900 ;padding: 5px;font-size: 18px"></th>
  </tr>
</table>
<hr class="line2" noshade="noshade"/>
</div>
<div class="commodity">
  <input style="color: white;font-size: 18px;position: absolute;top: 178px;left: 200px;" type='file' id="imgInp" accept="image/*"/>
</div>
<div class="line">
    <input type="button" onclick="location.href='{%url 'commodity' 123 %}'" style="width:260px;height:50px;background-image:url('{% static 'account/img/ntu_shopping_post_button.jpg'%}');">
</div>

<div class="introduction">
  <p style="position: absolute; top: 747px; left: 505px; font-size: 30px;">商品介紹 :</p>
  <textarea placeholder="介紹你的商品" style="padding: 10px;position: absolute; top: 830px; left: 505px; font-size: 24px; width: 1243px; height: 180px;font-family: 微軟正黑體;font-weight: 900;color:999999;"></textarea>
</div>

</body>
</html>