{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>NTU SHOPPING</title>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
   <script src="{% static 'account/js/jquery-2.2.3.min.js'%}"></script>
   <script src="{% static 'account/js/bootstrap.min.js'%}"></script>
   <script src="{% static 'post/js/croppie.js'%}"></script>
   <link rel="stylesheet" href="{% static 'post/js/croppie.css'%}">
   <script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
<script>

    function ManageopenNav() {
    document.getElementById("ManagemySidenav").style.height = "100%";
  }
  function ManagecloseNav() {
    document.getElementById("ManagemySidenav").style.height = "0";
  }
</script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-color: #761822;overflow: hidden;">
        <div class="col-md-3" style="font-family: impact;color: white;font-weight: bold;font-size: 28px;padding: 8px;margin-left: 3.9%;">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收回</a>
            <a style="background-color: #94333D" href="{%url 'index' "CP" 1 %}">電腦 , 手機 , 電子周邊</a>
            <a style="background-color: #761822" href="{%url 'index' "FN" 1 %}">家電 , 家具</a>
            <a style="background-color: #94333D" href="{%url 'index' "TR" 1 %}">交通工具</a>
            <a style="background-color: #761822" href="{%url 'index' "TF" 1 %}">玩具 , 公仔 , 電玩</a>
            <a style="background-color: #94333D" href="{%url 'index' "HB" 1 %}">生活居家</a>
            <a style="background-color: #761822" href="{%url 'index' "CL" 1 %}">服飾</a>
            <a style="background-color: #94333D" href="{%url 'index' "AC" 1 %}">飾品 , 配件</a>
            <a style="background-color: #761822" href="{%url 'index' "FD" 1 %}">食品</a>
            <a style="background-color: #94333D" href="{%url 'index' "CS" 1 %}">保養 , 彩妝</a>
            <a style="background-color: #761822" href="{%url 'index' "BK" 1 %}">書籍</a>
            <a style="background-color: #94333D" href="{%url 'index' "MM" 1 %}">音樂 , 電影 , 文創</a>
            <a style="background-color: #761822" href="{%url 'index' "HS" 1 %}">租屋</a>
            <a style="background-color: #94333D" href="{%url 'index' "SP" 1 %}">運動</a>
            <a style="background-color: #761822" href="{%url 'index' "OT" 1 %}">其他</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
            <a style="background-color: #761822" href="#">&nbsp;</a>
            <a style="background-color: #94333D" href="#">&nbsp;</a>
          </div>
          <a style="font-size:34px;cursor:pointer" onclick="openNav()">&#9776;</a>
          <a href="{% url 'index' "ALL" 1 %}">NTU SHOPPING</a>
        </div>
        <div style="padding: 18px;left:-7.3% ;" class="col-md-6"><input style="width: 143%;font-size:15px;color:#4D060C;font-family:微軟正黑體;font-weight:900; padding: 10px" type="text" class="form-control" placeholder="請輸入關鍵字">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" style="padding: 18px;left: 12.5%">
          <div id="ManagemySidenav" class="Managesidenav" style="">
            <a style="background-color: #4D060C " href="javascript:void(0)" class="Manageclosebtn" onclick="ManagecloseNav()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收回</a>
            <a style="background-color: #94333D" href="{%url 'manage' 1 %}">我的商品</a>
            <a style="background-color: #761822" href="{%url 'profile' username %}">關於我</a>
            <a style="background-color: #94333D" href="{%url 'post' %}">賣東西</a>
            <a style="background-color: #761822" href="{%url 'chat_index' %}">訊息</a>
            <a style="background-color: #94333D" href="{% url 'logout' %}">登出</a>
          </div>
          <img src="{{profile.picture.url}}" style="width: 30px; height: 30px; border-radius: 100%;" onclick="ManageopenNav()">
<!--           <div style="width: 30px; height: 30px;border:0px ;background-image:url('{{profile.picture.url}}" onclick="ManageopenNav()"></div> -->
        </div>
  </div>
        <form id = "edit_form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-12" style="margin-top: 3%;">
          <div class="row">
            <div class="col-md-5" style="box-shadow:1px 1px 5px 1px #B4B5B5;left: 3.2%;">
              <div>
              <img class="img-responsive" id = "picture" src="{{profile.picture.url}}" class="img-fluid" alt="Responsive image">
              </div>
              <input id = "picture_edit" name="picture" style="color: white;font-size: 18px;" type='hidden' accept="image/*" onchange="readURL(this);"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6" style="padding: 0px;margin-top: -3%;left: -3.2%;">
              <table class="table table-striped" class="table-responsive-md">
                <thead>
                  <tr>
                    <th>
                      <input type="id" name = "id" value="{{profile.user.username}}" disabled style="width: 100%;font-family:impact;padding: 5px;font-size: 24px;border-style:none;">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>&nbsp;&nbsp;學校</th>
                    <td><input id="school" type="text" value="{{profile.school}}" disabled style="font-family: impact;width: 100%;border-style:none;">
                    <select name="school" id="select" style="visibility: hidden;font-family: 微軟正黑體;font-weight: 900;width: 100%;border-style:none;padding: 1%;"">
                    {% for p in profile.SCHOOL_CHOICES %}
                      <option value="{{p.0}}">{{p.0}}</option>
                    {% endfor %}
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;電子郵件</th>
                    <td style=""><input id="email" type="email" name="email" value="{{profile.user.email}}" disabled style="font-family: impact;width: 100%;border-style:none;" placeholder="sophie@mail.ntust.edu.tw">
                    <p id="hint" style="visibility:hidden;  color: gray; font-size:12px">email must be ntu/ntust/ntnu</p>
                    </td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;面交地點</th>
                    <td><input id="" type="text" name="" value="公館捷運站" disabled style="width: 100%;border-style:none;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;交易方式</th>
                    <td><input id="" type="text" name="" value="面交" disabled style="width: 100%;border-style:none;"></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-5" style="padding: 0px;margin-top: 3.1%;"><input id="button" type="button" onclick="edit()" value="編輯" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 18px;padding: 1%;";>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-5" style="padding: 0px;margin-top: 3.1%;"><input id="chat" type="button" onclick="location.href='{%url 'chat_index' %}'" value="訊息" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 18px;padding: 1%;">
              </div>
            </div>
            <div class="col-md-12" style="background-color: white;margin-top: 4%;">
              <div class="col-md-1"></div>
              <div class="col-md-11" style="background-color: #761822;width: 96.4%;left: 1.85%;color: white;font-family: 微軟正黑體;font-weight: 900;font-size: 24px;padding: 1%;">賣場介紹:
                <div class="col-md-12" style="color:black ; height: 250px;margin-top: 1%;padding: 0px"><textarea id = "intro" form = "edit_form" name = "intro" contenteditable = "false" style="width: 100%;height: 250px;" disabled>{{profile.introduction}}</textarea></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">

  a{
    color: white;
    text-decoration:none;
  }
  a:hover{
    color: white;
    text-decoration:none;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4D060C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: px;
    overflow: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}


.Managesidenav {
    height: 0;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 70px;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.Managesidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: white;
    display: block;
    transition: 0.3s;
}

.Managesidenav a:hover {
    color: #818181;
}
</style>
<script type="text/javascript">
  var editable = "{{editable}}";
  if (editable == "False"){
    document.getElementById("button").type = "hidden";
  }

  if (editable != "False"){
    document.getElementById("chat").type = "hidden";
  }

  function edit() {
    var email = document.getElementById("email");
    var picture = document.getElementById("picture");
    var picture_edit = document.getElementById("picture_edit");
    var form = document.getElementById("edit_form");
    var button = document.getElementById("button");
    var introduction = document.getElementById("intro");
    var school =  document.getElementById("school");

    var hint = document.getElementById("hint");
    var sel = document.getElementById("select");

    if (button.value == "編輯") {

      email.disabled = false;
      email.style.border = "gray solid";

      introduction.disabled = false;
      introduction.style.border = "gray solid";

      sel.style.visibility = 'visible';
      school.type = "hidden";

      picture.style.opacity = 0.5;  
      picture_edit.type = "file";

      hint.style.visibility = 'visible';

      button.value = "確認送出";
      form.method = "post";

    } else{
       form.submit();
    }

  }
</script>
</body>
</html>