{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>NTU SHOPPING</title>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
   <script src="{% static 'account/js/jquery-2.2.3.min.js'%}"></script>
   <script src="{% static 'account/js/bootstrap.min.js'%}"></script>
   <script src="{% static 'post/js/croppie.js'%}"></script>
   <link rel="stylesheet" href="{% static 'post/js/croppie.css'%}">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" style="background-color: #761822;">
          <div class="row">
        <div class="col-md-2" style="font-family: impact;color: white;font-weight: bold;font-size: 28px;padding: 15px;"><a href="{% url 'index' "ALL" 1 %}">&nbsp;&nbsp;&nbsp;NTU SHOPPING</a>
        </div>
        <div style="padding: 18px;left: 1.3%;" class="col-md-7"><input style="font-size:15px;color:#4D060C;font-family:微軟正黑體;font-weight:900; padding: 10px" type="text" class="form-control" placeholder="請輸入關鍵字">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" style="padding: 18px;left: 5%">
          <input type="button" onclick="location.href='{% url 'chat_index'  %}';"  style="width: 30px;height: 30px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_chat.png'%}');background-color: #761822;";>

          <input type="button" onclick="location.href='{% url 'manage' 1 %}';" style="width: 30px; height: 30px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_account.png'%}');background-color: #761822";>

          <input type="button" style="width: 30px; height: 30px;border:0px ;background-image:url('{% static 'account/img/ntu_shopping_header_icon_cart.png'%}');background-color: #761822";>
        </div>
        </div>
      </div>
        </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="row">
        <ul type="none" style="padding: 0px;" class="col-md-12" class="left_bar">
          <li style="background-color: #4D060C;padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;我的賣場</li>
          <a href="{%url 'manage' 1 %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;我的商品</li></a>
          <a href="{%url 'profile' username %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;關於我</li></a>
          <a href="{%url 'post' %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;賣東西</li></a>
          <a href="{%url 'chat_index' %}"><li class="heavy" style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;訊息</li></a>
          <a href="{% url 'logout' %}"><li style="padding: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;登出</li></a>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
          <li class="heavy" style="padding: 10px;">&nbsp;</li>
          <li style="padding: 10px;">&nbsp;</li>
        </ul>
      </div>

        </div>
        <div class="col-md-10" style="margin-top: 3%;">
          <div class="row">
            <div class="col-md-5" style="box-shadow:1px 1px 5px 1px #B4B5B5;left: 3.2%;">
              <div>
              <img class="img-responsive" id = "picture" src="{{profile.picture.url}}" class="img-fluid" alt="Responsive image">
              </div>
              <input id = "picture_edit" style="color: white;font-size: 18px;" type='hidden' id="imgInp" accept="image/*" onchange="readURL(this);"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6" style="padding: 0px;margin-top: -3%;left: -3.2%;">
              <table class="table table-striped" class="table-responsive-md">
                <thead>
                  <tr>
                    <th><form id = "edit_form" method="post">{% csrf_token %}
                      <input type="id" name = "id" value="{{profile.user.username}}" disabled style="width: 100%;font-family:impact;padding: 5px;font-size: 24px;border-style:none;">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>&nbsp;&nbsp;學校</th>
                    <td><input id="school" type="text" name="school" value="{{profile.school}}" disabled style="font-family: impact;width: 100%;border-style:none;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;電子郵件</th>
                    <td style=""><input id="email" type="text" name="email" value="{{profile.user.email}}" disabled style="font-family: impact;width: 100%;border-style:none;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;面交地點</th>
                    <td><input id="" type="text" name="" value="公館捷運站" disabled style="width: 100%;border-style:none;"></td>
                  </tr>
                  <tr>
                    <th>&nbsp;&nbsp;交易方式&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <td><input id="" type="text" name="" value="面交" disabled style="width: 100%;border-style:none;"></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-5" style="padding: 0px;margin-top: 3.1%;"><input id="button" type="button" onclick="edit()" value="編輯" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 18px;padding: 1%;";>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-5" style="padding: 0px;margin-top: 3.1%;"><input type="button" onclick="location.href='{%url 'chat_index' %}'" value="訊息" style="background-color:#761822;color: white;font-family: 微軟正黑體;font-weight: 900;width: 100%;font-size: 18px;padding: 1%;">
              </div>
            </div>
            <div class="col-md-12" style="background-color: white;margin-top: 4%;">
              <div class="col-md-1"></div>
              <div class="col-md-11" style="background-color: #761822;width: 96.4%;left: 1.85%;color: white;font-family: 微軟正黑體;font-weight: 900;font-size: 24px;padding: 1%;">賣場介紹:
                <div class="col-md-12" style="color:black ; height: 250px;margin-top: 1%;padding: 0px"><textarea id = "intro" form = "edit_form" name = "intro" contenteditable = "false" style="width: 100%;height: 250px;" disabled>{{profile.introduction}}</textarea></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  body{
    overflow-x: hidden;
    /*overflow-y: hidden;*/
  }
  ul{
    font-style: 微軟正黑體;
    color: white;
    font-weight:bold;
    font-size: 16px;
    background-color: #94333D;
  }
  li:hover{
    background-color: #4D060C;
  }
  .heavy{
    background-color: #761822;
  }
  a{
    color: white;
    text-decoration:none;
  }
  a:hover{
    color: white;
    text-decoration:none;
  }

  table{
    background-color: white;
    font-size: 16px;
    margin-top: 20px;
    font-weight:900;
    font-family: 微軟正黑體;
    color: #4D060C;
  }
  th{
    background-color: white;
  }
  td{
    background-color: white;
  }
  th:hover{

  }

  ul.pagination {
    display: inline-block;
    padding: 0;
  }
  ul.pagination li {display: inline;}
  ul.pagination li a {
    font-family: impact;
    color: #4D060C;
    font-size: 12px;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  ul.pagination li a.active {
    background-color: #999999;
    color: white;
    border: 1px solid #999999;
  }
  ul.pagination li a:hover:not(.active) {background-color: #ddd;}
</style>
<script type="text/javascript">
  var editable = "{{editable}}";
  if (editable == "False"){
    document.getElementById("button").type = "hidden";
  }

  function edit() {
    var school = document.getElementById("school");
    var email = document.getElementById("email");
    var picture = document.getElementById("picture");
    var picture_edit = document.getElementById("picture_edit");
    var form = document.getElementById("edit_form");
    var button = document.getElementById("button");
    var introduction = document.getElementById("intro");

    if (button.value == "編輯") {
      school.disabled = false;
      school.style.border = "gray solid";

      email.disabled = false;
      email.style.border = "gray solid";

      introduction.disabled = false;
      introduction.style.border = "gray solid";

      picture.style.opacity = 0.5;  
      picture_edit.type = "file";

      button.value = "確認送出";
      form.method = "post";
    } else{
       form.submit();
    }
  }
</script>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#picture').attr('src', e.target.result);
          
          $uploadCrop = $('#picture').croppie({
            enableExif: true,
            viewport: {
              width: 200,
              height: 200,
              type: 'rectangle'
            },
            boundary: {
              width: 300,
              height: 300
            }
          });
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
</script>
</body>
</html>